body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

#timer {
    font-size: 20px;
}


#questionStyling {
    text-align: center;
  }

#optA {
    display: inline-flex;
    border: 1px black solid;
    padding: 10px;
    background-color: lightyellow;
    position: relative;
    border-radius: 10px;
  }

#optB {
    display: inline-flex;
    border: 1px black solid;
    padding: 10px;
    background-color: lightyellow;
    position: relative;
    border-radius: 10px;
  }

#optC {
    display: inline-flex;
    border: 1px black solid;
    padding: 10px;
    background-color: lightyellow;
    position: relative;
    border-radius: 10px;
  }

#optD {
    display: inline-flex;
    border: 1px black solid;
    padding: 10px;
    background-color: lightyellow;
    position: relative;
    border-radius: 10px;
  }
#finalName{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#finalScore {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
  #playAgain {
      display: flex;
      background-color: bisque;
      font-size: medium;
      justify-content: center;
      margin: 0 auto;
      margin-top: 12px;
  }